* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 60%;
  margin: auto;
}

/* copre quasi 100vh con 3 blocchi */
.container {
  position: relative;
  width: 50%;
  min-width: 400px;
  height: 32vh;
  margin: 8px 0;
  /* background usato per sfondo img vedi sotto bg #città */
  background-size: cover;
  background-repeat: no-repeat;
}

/* background leggermente oscurato */
.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* scritta città centrata responsive */
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(204, 255, 204);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2.2em;
}

/* foto background cittò */
#berlino {
  background-image: url("../img/berlino.jpg");
}

#helsinki {
  background-image: url("../img/helsinki.jpg");
}

#tokyo {
  background-image: url("../img/tokyo.jpg");
}

/* eventi mouse over */
.container:hover {
  border-radius: 15px;
  border: 2px solid black;
}

.container:hover h1 {
  text-shadow: 4px 4px rgb(51, 51, 51);
  font-size: 1.7em;
  cursor: pointer;
}

.container:hover .layover {
  background-color: rgba(0, 0, 0, 0);
}

.container:hover#berlino {
  background-image: url("../img/berlinoC.jpg");
}
.container:hover#helsinki {
  background-image: url("../img/helsinkiC.jpg");
}
.container:hover#tokyo {
  background-image: url("../img/tokyoC.jpg");
}

.title:hover {
  font-size: 1.1em;
}
